# Core functionality - changes here should be rare!
/src/app.py                   @ym-4
/src/backend/database.py      @ym-4
/src/backend/routers/auth.py  @ym-4

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ym-4
